@import './../../../../theme/mediaQueries.scss';
// .inv-container {
//     width: 800px;
//     height: 800px;
//     background-image: url('../../../../../public/assets/inv-template-1.jpeg');
//     background-repeat: no-repeat;
//     background-size: contain;
//     position: relative;
//     img {
//         position: absolute;
//         width: 100px;
//         height: 100px;
//         top: calc(100% - 100px - 16px);
//         left: 16px;
//rgb(246 246 246)
//     }
// }
//rgb(246 246 246)
.inv-greetings-container {
    text-align: center;
}

.inv-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}
.inv-container-theming {
    background-image: url('./../../../../../public/assets/img/background-invite.png');
    background-position: -400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ECEAF0;
    border: gold 1px solid;
    border-radius: 5px;
    padding: 16px;
}

.inv-container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
        display: none;
    }
    // justify-content: center;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // .inv-container-p1 {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
    // .inv-container-p2 {
    //     display: flex;
    //     flex-direction: column;
    //     margin-top: 100px;
    // }

    .inv-logo-container {
        margin-top: 20px;
        width: 65%;
        margin-bottom: 5px;
    }
    .inv-qr-code-container {
        width: 90px;
        height: 90px;
    }
    .inv-inv1-container {
        margin-bottom: 15px;
    }
    .inv-inv2-container {
        margin-bottom: 10px;
    }
    .inv-invite-detail-with-number-of-invites {
        margin-bottom: 10px;
    }
}








.inv-container-desktop {
    display: none;
    @include md{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
        height: auto;
    }
    @include lg {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
        height: auto;
    }
    .inv-invite-detail-with-number-of-invites {

    }
}