@import './../../../../theme/mediaQueries.scss';

.inv-greetings-container {
    text-align: center;
}
.inv-main-container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ece9ec;
}

.text-center {
    text-align: center;
}
.inv-container-theming {
    background-image: url('./../../../../../public/assets/img/background-invite.png');
    background-position: -400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ECEAF0;
    border: gold 2.5px solid;
    border-radius: 5px;
    padding: 16px;
}

.inv-container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
        display: none;
    }

    .inv-logo-container {
        margin-top: 20px;
        width: 65%;
        margin-bottom: 5px;
    }
    .inv-qr-code-container {
        width: 90px;
        height: 90px;
    }
    .inv-inv1-container {
        margin-bottom: 15px;
    }
    .inv-inv2-container {
        margin-bottom: 10px;
    }
    .inv-invite-detail-with-number-of-invites {
        margin-bottom: 10px;
        font-family: 'Open Sans', Courier, monospace;
        color: rgb(116, 97, 62) !important;
    }
}

.inv-container-desktop {
    .inv-invite-detail-with-number-of-invites {
        margin-bottom: 10px;
        font-family: Courier, monospace;
        color: rgb(116, 97, 62) !important;
    }
    display: none;
    background-position-x: -65px;
    .inv-inv1-container {
        margin: 20px 0px;
    }
    .inv-inv2-container {
        margin-bottom: 10px;
    }
    @include md{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        width: 600px;
        height: auto;
        .inv-qr-code-container {
            width: 100px;
            height: 100px;
        }
        .inv-container-p1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    @include lg {
        width: 700px;
    }
}
.mobileToPrint {
    width: 160vw !important;
    color: black;
}
.deskToPrint {
    width: 1200px !important;
    color: black;
}
.qrToDownload {
    width: 200px !important;
    height: 200px !important;
    img {
        width: 100% !important;
        height: 100% !important;
    }
}
.invitationForDownload {
    position: absolute;
    top: -1000vh;
}

.inv-not-found {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}