.list-list-header {
    display: grid;
    grid-template-columns: 1fr 124px 124px;
    padding: 16px;
    &-item {
        text-align: center;
    }
    h1 {
        font-size: 1.2em;
        margin: 0;

    }
}
.list-invites-list-container {
    padding-bottom: 100px;
}

.list-icon {
    width: 20px;
    height: 20px;
}

.list-main-container {
    width: 100vw;
    background-color: #E7EBF0;
    padding: 32px;
}